# Environment variables / secrets
.env
.env.*
!.env.example
venv/
.venv/

# SQLite databases
*.sqlite3
auth.sqlite3

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Generated local/deployment files
staticfiles/
#media/
logs/
backups/
*.log

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
